.list-Classes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100.3vh;
  min-height: 100vh; /* Ensure the whole viewport height */
}

#viewIcon{
  font-size: 15px;
  cursor:pointer;
}

#viewIcon:hover{
  color: greenyellow;
}

#viewIcon:active{
  color: blue;
}

.Classes-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #252525;
  color: gray;
  width: 100%;
  margin: 20px;
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #007bff;
  border-radius: 15px 15px 0 0;
  padding: 15px;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.subheading {
  font-size: 14px;
  margin: 0;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
}

.table th {
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.table td {
  font-size: 16px;
  color: white;
  background-color: #252525;
}

.table-responsive {
  overflow-x: auto;
}

.table tbody tr td {
  vertical-align: middle;
}

.thead{
  border-radius: 20px;
}

/* modalStyles.css */
.modal-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #252525;
color: white;
border-radius: 15px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
width: 60%;
max-width: 600px;
}

.modal-header {
background-color: #333;
color: white;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
padding: 15px;
}

.modal-title {
font-size: 24px;
margin: 0;
}

.modal-body {
padding: 30px;
}

.form-group {
margin-bottom: 15px;
}

.form-label {
color: white;
font-weight: bold;
}

.form-control {
background-color: #1e1e1e;
border: 1px solid #333;
border-radius: 5px;
color: white;
padding: 10px;
}

.btn-edit {
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}
